h1 {
    text-align: center;
    font-family: Arial, SansSerif;
    font-size: 4em;
}

#logoTitle {
    width: 1em;
    display: inline;
    margin-right: 20px;
    position: relative;
    top: 13px
}

h4{
    text-align: center;
    font-family: Roboto, SansSerif;
    font-style: italic;
}

p{
    font-family: Roboto, SansSerif;
    padding: 20px;
    margin: 0px;
}

.buttonRow {
    text-align: center;
    padding-top: 20px;
}

button{
    width: 100px;
    height: 50px;
    margin: 10px;
    background-color: #ffffff;
    color: #6857f2;
    border-color:  #6857f2;
}

.buttonHot {
    background-color: #6857f2;
    color: #ffffff;
    border: solid #46379c 2px;
}