#footer {
    background-color: #e0e7ed;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #65686f;
    padding: 5px 0 5px 0;
    text-align: center;
    font-family: Arial, SansSerif;
    font-style: italic;
}
